<div class="header__title">
  <i class="fas fa-seedling"></i>
  <%= link_to "Our Recipe", root_path, class: "header__title--text" %>
</div>

<div class="header__right">
  <% if user_signed_in? %>
    <%= link_to current_user.nickname, user_path(current_user), class: "header__right--btn" %>
    <%= link_to "新規投稿", new_recipe_path, class: "header__right--btn" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
    <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
  <% end %>
</div>
