<div class="header__title">
  <%= link_to "Our Recipe", root_path, class: "header__title--text" %>
</div>
  <div class="search">
  <div class="search__box">
  <%= form_with(url: search_recipes_path, local: true, method: :get, class: "search") do |f| %>
    <dl class="search2">
      <dt><%= f.text_field :keyword, placeholder: "レシピ名や材料を検索する", class: "search" %></dt>
      <dd><%= f.button '検索' %></dd>
    <dl>
  <% end %>
    <%# <form action="/" name="search" method="post">
      <dl class="search2">
        <dt><input type="text" class="search" name="search" value="" placeholder="Recipe title" ></dt>
        <dd><button>Search</button></dd>
      </dl>
    </form> %>
  </div>

</div>
<div class="detile-search">
  詳細検索
</div>





<ul class="menu">
    <li class="menu__multi">
        <a href="#" class="init-bottom">Category</a>
        <ul class="menu__second-level">
            <!-- 第一階層 -->
            <li>
                <a href="#" class="init-right">主食・主菜などから選ぶ</a>
                <ul class="menu__third-level">
                    <!-- 第二階層 -->
                    <li>
                      <a href="#">主食</a>
                    </li>
                    <li><a href="#"></a>主菜</li>
                    <li><a href="#">副菜</a></li>
                    <li><a href="#">スープ・汁物</a></li>
                    <li><a href="#"></a>おやつ・デザート</li>
                    <li><a href="#"></a>飲み物</li>
                </ul>
            </li>
            <li>
                <a href="#" class="init-right">メインの食材から選ぶ</a>
                <ul class="menu__third-level">
                    <!-- 第二階層 -->
                    <li>
                      <a href="#">肉</a>
                      <a href="#">魚</a>
                    </li>
                    <li><a href="#">野菜</a></li>
                    <li><a href="#">その他</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="init-right">朝食・昼食などから選ぶ</a>
                <ul class="menu__third-level">
                    <!-- 第二階層 -->
                    <li>
                      <a href="#">朝食</a>
                    </li>
                    <li><a href="#">昼食</a></li>
                    <li><a href="#"></a>夕食</li>
                    <li><a href="#"></a>その他</li>
                </ul>
            </li>

            <!-- 他メニュー省略 -->
        </ul>
    </li>
    <!-- 他グローバルナビメニュー省略 -->
</ul>






<div class="header__right">
  <% if user_signed_in? %>
    <%= link_to current_user.nickname, user_path(current_user), class: "header__right--btn" %>
    <%= link_to "新規投稿", new_recipe_path, class: "header__right--btn" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
    <%= link_to "新規登録", new_user_registration_path, class: "header__right--btn" %>
  <% end %>
</div>
  






