<header class="header">
  <%= render 'header-nosearch'%>
</header>

<div class="new--wrapper">
  <div class="new--wrapper__top">レシピ新規投稿</div>
  <div class="recipe-normal">レシピの基本情報</div>
  <%= form_with model: @recipe, class: :form, local: true do |form| %>
    <%= render 'layouts/error_messages', model: form.object %>
  <div class="new--wrapper__recipeinfo">
    <div class="new--wrapper__recipeinfo__title">
      <div class="heading-title">料理のタイトル</div>
      <%= form.text_field :title, placeholder: :タイトル, class: :form__title ,required: true %>
    </div>
    <div class="new--wrapper__recipeinfo__serve">
      <div class="heading-serve">何人前</div>
      <%= form.number_field :serving, placeholder: :人前, class: :form__serving ,required: true %>
    </div>
    <div class="new--wrapper__recipeinfo__ByEatTime">
      <div class="heading-ByEatTime">所要時間（下処理等含む）(分)</div>
      <%= form.number_field :time, placeholder: :所要時間（下処理等含む）, class: :form__time ,required: true %>
    </div>
    <div class="new--wrapper__recipeinfo__oneword">
      <div class="heading-oneword">レシピについて一言</div>
      <%= form.text_area :oneword, placeholder: :一言, class: :form__oneword %>
    </div>
    <div class="new--wrapper__recipeinfo__point">
      <div class="heading-point">レシピを作る上でのポイント</div>
      <%= form.text_area :point, placeholder: :"Point!", class: :form__point %>
    </div>

    <div class ="new--wrapper__recipeinfo__form">
    <div class="heading-tag"> タグの選択</div>
    <div class="new--wrapper__recipeinfo__form__tag">
    <div class="dish-tag">主食・主菜などから選んでください</div>
      <%= form.collection_select :dish_id, Dish.all, :id, :name, prompt: "---" %>
    <div class="mainmaterial">メインの食材から選んでください</div>
      <%= form.collection_select :mainmaterial_id, Mainmaterial.all, :id, :name, prompt: "---" %>
    <div class="eattime">朝食・昼食などから選んでください</div>
      <%= form.collection_select :eattime_id, Eattime.all, :id, :name, prompt: "---" %>
    </div>
    </div>



    <%# <div class="new--wrapper__recipeinfo__taste">
      <div class="heading-taste">料理の味付け</div> %>
      <%#= form.select %>
    <%# </div> %>
    <div class="new--wrapper__recipeinfo__image">
      <div class="heading-image">完成した料理の写真を選択してください</div>
      <%= form.file_field :image %>
    </div>
  </div>



  <div class="WayOfCook">作り方</div>
  <div class="new--wrapper__HowToMake">
    <%= form.fields_for :recipelists do |recipelist| %>
      <%= render "recipelist_fields", f: recipelist %>
            <%# <div id="result_recipelist_add"></div> %>

    <% end%>
    <div class="links">
      <label class="icon-label">
        <%= link_to_add_association form, :recipelists do %>
          <i class="fas fa-plus"></i>
          作り方を増やす
        <% end %>
      </label> 
    </div>
  </div>


  <div class="topIngredients">材料</div>
  <div class="new--wrapper__ingredi">
    <%= form.fields_for :ingredients do |ingredient| %>
      <%= render "ingredient_fields", f: ingredient %>
    <% end%>
    <div class="links">
      <label class="icon-label">
          <%= link_to_add_association form, :ingredients do %>
            <i class="fas fa-plus"></i>
            材料を増やす
          <% end%>
      </label>
    </div>
  </div>

  <div class="new--wrapper__submit">    
    <%# <%= form.submit 'Save' %>
    <%= form.submit 'Save', class:"submit-bottun", data: { confirm: '投稿しますか？' } %>
  </div>



<% end %>

</div>
  <div id="result_recipelist_add"></div>

