<header class="header">
  <%= render 'header-nosearch'%>
</header>

<% if user_signed_in? && current_user.id == @recipe.user_id %>
  <div class="recipeManage">
    <%= link_to "編集", edit_recipe_path(@recipe.id), class: "recipeManage__edit" %>
    <%= link_to "削除", recipe_path(@recipe.id), method: :delete, class: "recipeManage__delete" %>
  </div>
<% end %>


<div class="show--wrapper">
  <div class="top--wrapper">
    <div class="top--wrapper__left">
      <div class="top--wrapper__left__recipename">
         <%= @recipe.title %>
      </div>


      <div class="postAuthor">
        by:<%= link_to @recipe.user.nickname, user_path(@recipe.user), class: "nickname-deco" %>
      </div>

      <div class="top--wrapper__left__time">
        <div class="top--wrapper__left__time__worktime">
          調理時間:<%= @recipe.worktime %>分
        </div>
        <div class="top--wrapper__left__time__byEatTime">
          食べるまで:<%= @recipe.time %>分
        </div>
      </div>


      <div class="top--wrapper__left__oneword">
        <%= @recipe.oneword %>
      </div>
      <div class="top--wrapper__left__likewrapper">
        <div class="top--wrapper__left__likewrapper__count">
          いいね数 : <%= @recipe.likes.count %>
        </div>
        <div class="top--wrapper__left__likewrapper__btn">
          <% if user_signed_in? %>
            <% if current_user.already_liked?(@recipe) %>
              <%= button_to 'いいねを取り消す', recipe_like_path(@recipe), method: :delete %>
            <% else %>
              <%= button_to 'いいね', recipe_likes_path(@recipe) %>
            <% end %>
          <% end %>
        </div>
      </div>



    </div>
    <div class="top--wrapper__right">
      <div class="top--wrapper__right__photo">
        <a href="/recipes/<%= @recipe.id %>">
        <%= image_tag @recipe.image.to_s, class: "photosize" %>
        </a>
      </div>
      <div class="top--wrapper__right__created">
        <%= @recipe.created_at %>
      </div>
    </div>
  </div>
  <div class="middle--wrapper">
    <div class="middle--wrapper__left">
      <div class="middle--wrapper__left__top">
        <div class="middle--wrapper__left__top__text">
          材料
        </div>
        <div class="middle--wrapper__left__top__serve">
          <%= @recipe.serving %> 人前
        </div>
      </div>
      <% @recipe.ingredients.each do |ingr| %>
        <div class="middle--wrapper__left__ingre">
          <div class="middle--wrapper__left__ingre__iname">
            <%= ingr.iname %>
          </div>
          <div class="middle--wrapper__left__ingre__amount">
            <%= ingr.amount %>
          </div>
        </div>
      <% end %> 
    </div>
    <div class="middle--wrapper__right">
      <div class="middle--wrapper__right__top">
        <form>
          <%# <div class="middle--wrapper__right__top__form">  %>
            <input id="keyword" type= "number">
          <%# </div> %>
          <%# <div class="middle--wrapper__right__top__btn"> %>
            <button id = "button">人前を表示</button>
          <%# </div> %>
        </form>
      </div>
      <div class="middle--wrapper__right__calcamount">
        <div class ="result"></div>
      </div>
    </div>
  </div>
  <div class="bottom--wrapper">
    <div class="bottom--wrapper__howto">作り方</div>
    <div class="bottom--wrapper__wrapper">
      <% @recipe.recipelists.each_with_index do |recipelist, i| %>
        <div class="bottom--wrapper__wrapper__list">
          <div class="bottom--wrapper__wrapper__list__count">
            <%= i + 1 %>
          </div>
          <% if recipelist.image.present? %>
            <div class="bottom--wrapper__wrapper__list__image">          
              <%= image_tag recipelist.image.to_s, class: "photolist" %>
            </div>
          <% end %>
          <div class="bottom--wrapper__wrapper__list__text">
            <%= recipelist.text %>
          </div>
        </div>
  <% end %>
    </div>
    <div class="point1">
      point!!
    </div>
    <div class="point">
      <div class="point--main">
        <%= @recipe.point %>
        
      </div>
      <%#= @recipe.dish.name%>
    </div>
  </div>
</div>
