<div class="show--wrapper">
  <div class="top--wrapper">
    <div class="top--wrapper__left">
      <div class="top--wrapper__left__recipename">
      </div>
      <div class="top--wrapper__left__oneword">
      </div>
      <div class="top--wrapper__left__likewrapper">
        <div class="top--wrapper__left__likewrapper__count">
        </div>
        <div class="top--wrapper__left__likewrapper__btn">
        </div>
      </div>
    </div>
    <div class="top--wrapper__right">
      <div class="top--wrapper__right__photo">
        <a href="/recipes/<%= recipe.id%>">
        <%= image_tag recipe.image.to_s, class: "photosize" %>
        </a>
      </div>
    </div>
  <div class="middle--wrapper">
    
  </div>
  <div class="bottom--wrapper">
  </div>
</div>



















<div class="postTitle">
  <%= @recipe.title %>
</div>

<h3>いいね件数: <%= @recipe.likes.count %></h3>

<% if user_signed_in? %>

  <% if current_user.already_liked?(@recipe) %>
    <%= button_to 'いいねを取り消す', recipe_like_path(@recipe), method: :delete %>
  <% else %>
    <%= button_to 'いいね', recipe_likes_path(@recipe) %>
  <% end %>

<% end %>



<div class="postDate">
  <%= @recipe.created_at %>
</div>
<div class="postAuthor">
</div>
<% if user_signed_in? && current_user.id == @recipe.user_id %>
  <div class="postManage">
    <%= link_to "編集", edit_recipe_path(@recipe.id), class: "postManage__edit" %>
    <%= link_to "削除", recipe_path(@recipe.id), method: :delete, class: "postManage__delete" %>
  </div>
<% end %>


<div class="postText">
  <%= @recipe.time %>分
</div>

<div class="recipelist">
  <div class="zairyou">材料:<%= @recipe.serving %> 人前</div>
  <% @recipe.ingredients.each do |ingr| %>

  <div class="ingr">
  <div class="iname"><%= ingr.iname %></div>
  <div class="amount"><%= ingr.amount %></div>
  </div>
  <% end %> 
</div>

<form>
    <input id="keyword" type= "number">
    <button id = "button">ボタン</button>
    <p class ="result"></p>

</form>


















<script>
var pattern = /\//;
var pattern2 = /\./;

var zairyo = $('.zairyou').text()
zairyo = zairyo.replace(/[^\d]/g, "");

$(function(){

  let btn = $("#button");
  let changeText = $('.amount');
  $('#button').click(function(e) {
    e.preventDefault();
    let input = $("#keyword").val();
    var array = [];


$(function(){
   $(".result").empty();
    $.each(array, function(index, value){
         $(".result").append(value).append('<br />');
    })
});
  $('.amount').each(function() {
    fff = $(this).text()

    if ((fff).match(pattern)){
    console.log('分数');
    result = fff.replace(/\//,"9999999")
    result = result.replace(/[^\d]/g, "");
    result = result.replace(/9999999/, "/");
    var bef = (result.slice(0,1))
      bef = bef / zairyo * input * 100;
      bef = Math.round(bef);
      bef = bef / 100;
    var aft = (result.slice(2))

    var sum = bef / aft
    sum = sum * 10;
    sum = Math.round(sum);
    sum = sum / 10
    ttt = fff.replace(/[\d]/g, "");
    ttt = ttt.replace(/\//, "pp");
    ggg = ttt.replace(/pp/,sum);
    console.log(ggg);

    array.push(ggg);

  } else if ((fff).match('適量')){
    ggg = fff
    console.log(ggg)
    array.push(ggg);
    
  } else if ((fff).match('種類')){
    ggg = fff
    console.log(ggg)
    array.push(ggg);


    
  } else if ((fff).match('少々')){
    ggg = fff
    console.log(ggg)
    array.push(ggg);

  } else if ((fff).match('ひと')){
    ggg = fff
    console.log(ggg)
    array.push(ggg);
    
  } else if ((fff).match('お好み')){
    ggg = fff
    console.log(ggg)
    array.push(ggg);

  } else if ((fff).match('好き')){
    ggg = fff
    console.log(ggg)
    array.push(ggg);


    
  } else if ((fff).match('半分')){
      console.log(fff)
      fff = 0.5
      fff = fff / zairyo
      fff = fff * 10
      fff = Math.round(fff);
      fff = fff / 10
      fff = fff * input
      ggg = fff
      console.log(ggg)
      array.push(ggg);
  } 
  
    else if ((fff).match(pattern2)){
      console.log('少数だよ')
      var result = fff.replace(/[^\d]/g, "");
      result = result / 10
      result = result / zairyo
      result = result * 10
      result = Math.round(result);
      result = result / 10
      result = result * input
      result = result * 10
      result = Math.round(result);
      result = result / 10
    ttt = fff.replace(/[\d]/g, "");
    ttt = ttt.replace(/\./, "pp");
    ggg = ttt.replace(/pp/,result);
    console.log(ggg);
      array.push(ggg);
  } 

  else {
    console.log('整数だよ');
    var result = fff.replace(/[^\d]/g, "");

      result = result / zairyo
      result = result * 10
      result = Math.round(result);
      result = result / 10
      result = result * input
      result = result * 10
      result = Math.round(result);
      result = result / 10

    if (result == 0){
      console.log('エラーです');
      array.push(ggg);

    } else {
      ttt = fff.replace(/[\d]/g, " ");
      var ggg = ttt.replace(/\s+/,result);
      console.log(ggg);
      array.push(ggg);

    };
  }
  });
      
  });
  });
</script>



