<div class="postTitle">
  <%= @recipe.title %>
</div>

<h3>いいね件数: <%= @recipe.likes.count %></h3>
<% if current_user.already_liked?(@recipe) %>
  <%= button_to 'いいねを取り消す', recipe_like_path(@recipe), method: :delete %>
<% else %>
  <%= button_to 'いいね', recipe_likes_path(@recipe) %>
<% end %>
<h2>いいねしたユーザー</h2>
<% @recipe.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>



<div class="postDate">
  <%= @recipe.created_at %>
</div>
<div class="postAuthor">
</div>
<% if user_signed_in? && current_user.id == @recipe.user_id %>
  <div class="postManage">
    <%= link_to "編集", edit_recipe_path(@recipe.id), class: "postManage__edit" %>
    <%= link_to "削除", recipe_path(@recipe.id), method: :delete, class: "postManage__delete" %>
  </div>
<% end %>


<div class="postText">
  <%= @recipe.time %>
</div>

<div class="recipelist">
  <div class="zairyou">材料:<%= @recipe.serving %> 人前</div>
  <% @recipe.ingredients.each do |ingr| %>

  <div class="ingr">
  <div class="iname"><%= ingr.iname %></div>
  <div class="amount"><%= ingr.amount %></div>
  </div>
  <% end %> 
</div>

<%= form_with model: @calculation, class: :form, local: true do |form| %>
  <%= form.number_field :calc, placefolder: :人前, class: :form__serving %>
  <%= form.submit '計算する', class: :form__btn %>


<% end %>
